:root {
  color-scheme: light;
  --green: #cff5d0;
  --yellow: #FFCC33;
  --white: white;
  --background-color: #fffcfc;
  --secondary-background: #f3ca72;
  --text-color: rgb(0, 0, 0);
  --navLink-color: #989797;
  --contact-shadow-color: #989797;
  --navLink-bg-color: #f9f9f9;
  --description-text: #3f3f3f;
  --dot-color: #ffe600;
  --main-block: #be2357;
  --whatsapp-color: #128c7e;
  --icon-hover: #8fe6f5;
}
.light-mode {
  color-scheme: light;
  --green: #cff5d0;
  --yellow: #FFCC33;
  --white: white;
  --background-color: #fffcfc;
  --secondary-background: #f3ca72;
  --text-color: rgb(0, 0, 0);
  --contact-shadow-color: #a09191;
  --navLink-color: #989797;
  --navLink-bg-color: #f9f9f9;
  --description-text: #3f3f3f;
  --dot-color: #ffe600;
  --main-block: #be2357;
  --whatsapp-color: #128c7e;
  --icon-hover: #8fe6f5;
  --link-color: #3f4580;
  --link-hover: #2c3bc2;
}
.dark-mode {
  color-scheme: dark;
  --green: #7fa080;
  --yellow: #FFCC33;
  --white: rgb(58, 57, 57);
  --background-color: #0f0f0f;
  --secondary-background: #f3ca72;
  --text-color: rgb(255, 254, 254);
  --navLink-color: rgba(255, 254, 254, 0.781);
  --navLink-bg-color: #3f3e3e;
  --description-text: #ffd500;
  --dot-color: #ffe600;
  --main-block: #be2357;
  --whatsapp-color: #128c7e;
  --icon-hover: #8fe6f5;
  --link-color: #9599b8;
  --link-hover: #29bbff;
}

*,
:after,
:before {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
body{
  color: var(--text-color) !important;
  background-color: var(--background-color) !important;
}
/* Navbar */
.navbar {
  background-color: var(--navLink-bg-color) !important;
  color: var(--text-color) !important;
}
.navbar-brand {
  color: var(--text-color) !important;
}
.nav-link {
  transition: border-bottom 0.3s !important; 
  border-bottom: 0.5rem;
  background-color: var(--navLink-bg-color) !important;
  color: var(--navLink-color) !important;
}
.nav-item {
  font: 600 14px/30px;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  text-transform: uppercase;
}
.nav-link.active:focus {
  border-bottom: 2px solid var(--text-color) !important;
}
.form-control-plaintext{
  color: var(--text-color) !important;
}
.section1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.nav-link.active {
  border-bottom: 2px solid var(--text-color) !important;
  color: var(--text-color) !important;
}
#home {
  width: 100%;
  height: 100vh;
  background: var(--background-color);
  display: flex;
  justify-content: center;
  align-items: center;
}
/* card-group */
.personal-bg{
  background-color: var(--background-color) !important;
  color: var(--text-color) !important;
}
.card{
  background-color: var(--background-color) !important;
  color: var(--text-color) !important;
}
.card a{
  color: var(--link-color) !important;
  text-decoration: none;
}
.card a:hover{
  color: var(--link-hover) !important;
}

.box {
  width: 600px;
  height: 250px;
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.title {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  height: 130px;
  padding-left: 10px;
}
.block {
  width: 0%;
  height: inherit;
  background: var(--secondary-background);
  position: absolute;
  animation: mainBlock 2s cubic-bezier(0.74, 0.06, 0.4, 0.92) forwards;
  display: flex;
}
.Name {
  font-family: "Poppins";
  color: var(--text-color);
  font-size: 100px;
  -webkit-animation: mainFadeIn 2s forwards;
  -o-animation: mainFadeIn 2s forwards;
  animation: mainFadeIn 2s forwards;
  animation-delay: 1.6s;
  opacity: 0;
  display: flex;
  align-items: baseline;
  position: relative;
}
.dot {
  width: 0px;
  height: 0px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background: var(--dot-color);
  -webkit-animation: load 0.6s cubic-bezier(0.74, 0.06, 0.4, 0.92) forwards;
  animation: popIn 0.8s cubic-bezier(0.74, 0.06, 0.4, 0.92) forwards;
  animation-delay: 3s;
  margin-left: 5px;
  margin-top: -10px;
  position: absolute;
  bottom: 13px;
  right: -12px;
}
.role {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  height: 30px;
  padding-left: 50px;
}
.block {
  width: 0%;
  height: inherit;
  background: var(--main-block);
  position: absolute;
  animation: secBlock 2s cubic-bezier(0.66, 0.73, 0.58, 0.46) forwards;
  animation-delay: 2s;
  display: flex;
}
.description {
  animation: secFadeIn 2s forwards;
  animation-delay: 3.2s;
  opacity: 0;
  font-weight: 400;
  font-family: "Lato";
  color: var(--description-text);
  font-size: 32px;
  text-transform: uppercase;
  letter-spacing: 5px;
  margin-top: 20px;
}

.cardBody {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: var(--white);
  background-clip: border-box;
  border: "0px none";
}

.headerKey {
  width: 100%;
  height: 5px;
  background-color: var(--description-text);
  z-index: 100;
  position: fixed;
  margin-top: 55px;
  /* animation:mainBlock 2s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards ; */
}
.headerKey :first-of-type {
  width: 0;
}
.sun {
  color: var(--yellow) !important;
  -webkit-animation: glowing 4s linear ;
  -moz-animation: glowing 4s linear ;
  animation: glowing 4s linear ;
  cursor:pointer;
}
.moon {
  color: var(--yellow) !important;
  -webkit-animation: spin 4s linear ;
  -moz-animation: spin 4s linear ;
  animation: spin 4s linear ;
  cursor:pointer;
}
#about {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 5rem;
  margin-left: 20rem;
  margin-right: 20rem;
  padding-top: 5rem;
  background-color: var(--background-color) !important;
  color: var(--text-color) !important;
}
.about-title {
  font-size: 2rem !important;
  margin-bottom: 20 !important;
}
.carousel-caption {
  color: var(--description-text);
}
.imageContainer{
  background-color: var(--background-color) !important;
  color: var(--text-color) !important;
}
#portfolio {
  margin-top: 10rem;
  background-color: var(--background-color) !important;
  color: var(--text-color) !important;
  /* padding-top: 5rem; */
}
.portfolio-image {
  height: 50rem;
  margin-bottom: 50px;
  z-index: 10;
  margin-left: 30px;
  margin-right: 30px;
}
.portfolio-header {
  margin-left: 30px;
  margin-bottom: 10px;
  padding-top: 5rem;
  justify-content: center;
  display: flex;
}

.ContactMe-div {
  border-radius: 30px;
  background-color: var(--navLink-bg-color)!important;
  box-shadow: 0 4px 8px 0 var(--contact-shadow-color), 0 6px 20px 0 var(--contact-shadow-color);
  margin-left: 20rem;
  margin-right: 20rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.icon-size {
  font-size: 20;
}
.whatsapp-icon {
  font-size: 20;
  color: var(--whatsapp-color);
}
.fixedButton {
  position: fixed;
  display: inline-block;
  z-index: 100;
  bottom: 0px;
  right: 0px;
  padding: 20px;
}
.roundedFixedBtn {
  height: 60px;
  line-height: 80px;
  width: 60px;
  font-size: 2em;
  font-weight: bold;
  border-radius: 50%;
  background-color: var(--green) !important;
  color: var(--white) !important;
  text-align: center;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.fixedButton:hover .roundedFixedBtn {
  background-color: var(--icon-hover);
}
.fixedButton:hover .dropdown-content {
  display: block;
}
.hiddenButton a{
  color: var(--link-color) !important;
}
.hiddenButton a:hover{
  color: var(--link-hover) !important;
}
.dropdown-content {
  display: none;
  position: absolute;
  z-index: 100;
  min-width: 160px;
  bottom: 100px;
}
.hiddenButton {
  background-color:  var(--text-color) !important;
  height: 60px;
  line-height: 80px;
  width: 60px;
  font-size: 2em;
  font-weight: bold;
  border-radius: 50%;
  color: var(--white);
  text-align: center;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 10px;
}
.hiddenButton:hover {
  background-color: var(--icon-hover);
}
@keyframes mainBlock {
  0% {
    width: 0%;
    left: 0;
  }
  50% {
    width: 100%;
    left: 0;
  }
  100% {
    width: 0;
    left: 100%;
  }
}

@keyframes secBlock {
  0% {
    width: 0%;
    left: 0;
  }
  50% {
    width: 100%;
    padding-left: 20px;
    left: 0;
  }
  100% {
    width: 0;
    left: 100%;
  }
}

@keyframes mainFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes glowing {
  0% {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }

  25% {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
  }

  60% {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }
  80% {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
  }

  100% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
@-moz-keyframes glowing {
  0% {
    -moz-transform: scale(0.9);
    transform: scale(0.9);
  }

  25% {
    -moz-transform: scale(1.2);
    transform: scale(1.2);
  }

  60% {
    -moz-transform: scale(0.9);
    transform: scale(0.9);
  }
  80% {
    -moz-transform: scale(1.2);
    transform: scale(1.2);
  }

  100% {
    -moz-transform: scale(1);
    transform: scale(1);
  }
}
@-webkit-keyframes glowing {
 0% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }

  25% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }

  60% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }

  80% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes popIn {
  0% {
    width: 0px;
    height: 0px;
    background: var(--yellow);
    border: 0px solid var(--white);
    opacity: 0;
  }
  50% {
    width: 10px;
    height: 10px;
    background: var(--yellow);
    opacity: 1;
    bottom: 45px;
  }
  65% {
    width: 7px;
    height: 7px;
    bottom: 0px;
    width: 15px;
  }
  80% {
    width: 10px;
    height: 10px;
    bottom: 20px;
  }
  100% {
    width: 7px;
    height: 7px;
    background: var(--yellow);
    border: 0px solid #222;
    bottom: 13px;
  }
}

@keyframes secFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.5;
  }
}

/* Loader */
.absolute{
  position: absolute;
  top: calc(50% - 12em);
  left: calc(50% - 20em);
}
.loader {
  margin: 40px 170px;
  width: 10em;
  height: 10em;
  border: 1.1em solid rgba(0, 0, 0, 0.2);
  border-left: 1.1em solid #000000;
  border-radius: 50%;
  animation: load8 1.1s infinite linear;
}

@keyframes load8 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}